*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-color: #B91450;
}

.bg-grey{
    background-color: grey;
}

.pd-none{
    padding-left: 0;
    padding-right: 0;
}

.br-grey{
    border-color: grey!important;
}

.rounded-20px{
    border-radius: 20px;
}

h1{
    color: white;
    font-weight: bold;
}

.pink{
    color: #B91450;
}

.bpink{
    border-color: #B91450!important;
}

.bg-button{
    background-color: #CCCCCC;
}

.text-bold{
    font-weight: bold;
}
